aiofiles==0.3.1
appdirs==1.4.3
cloudpickle==0.2.2
dask==0.14.3
httptools==0.0.9
multipledispatch==0.4.9
nose==1.3.7
numpy==1.12.1
packaging==16.8
pandas==0.20.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
sanic==0.5.4
Sanic-Cors==0.5.4.1
six==1.10.0
toolz==0.8.2
ujson==1.35
uvloop==0.8.0
websockets==3.3
